:root{
  --ff-poppins: 'Poppins', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;
  --ff-open-sans: 'Open Sans', sans-serif;
}

body{
  margin: 0;
}
.wrapper{
  min-height: 100vh;
  width: 100%;
}
img{
  width: 100%;
  height: 100%;
}
*{
  box-sizing: border-box;
  padding: 0;
}

.hero__container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 10rem;
}
.hero__container > img{
  position: absolute;
  top: 33px;
  left: 100px;
  width: 107px;
  height: 73px;
}

.hero__image{
  width: 48%;
  height: 804px;
  overflow: hidden;
  border-bottom-left-radius: 198.9px;
}

.hero__container svg{
  display: flex;
  position: absolute;
  width: 752px;
  height: 839px;
  right: 0;
  top: -1px;
}

.hero__content{
  width: 48%;
  display: flex;
  flex-direction: column;
  padding-inline: 7rem;
}

.hero__title{
  font-family: var(--ff-open-sans);
  font-weight: 700;
  font-size: 62px;
  line-height: 69px;
  margin-right: 7rem;
  color: rgba(14, 35, 104, 1);

  & span{
    color: #E23744;
  }
}
.hero__container .contact{
  position: absolute;
  padding: 0;
  width: 122px;
  height: 42px;
  top: 32px;
  right: 100px;
  border-radius: 21px;
  border: 1px solid white;
  background-color: #E23744;
  cursor: pointer;

  a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 3%;
  }
}

.hero__content p{
  font-family: var(--ff-open-sans);
  font-weight: 400;
  font-size: 18px;
  line-height: 27.41px;
  margin-right: 7rem;
  margin-block: 0rem 3rem; 
  color: rgba(68, 73, 87, 1);
}

.hero__content button{
  width: 190px;
  height: 63px;
  border-radius: 34px;
  background-color: #E23744;
  border: none;
  font-family: var(--ff-open-sans);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  cursor: pointer;
}

.about__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90.07deg, rgba(30, 42, 93, 0.04) 30.91%, rgba(48, 62, 130, 0.04) 64.79%, rgba(60, 80, 157, 0.04) 91.94%);
  margin-bottom: 10rem;
}

.about__image{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__image img{
  width: 384px;
  height: 468px;
  object-fit: cover;
}

.about__content{
  width: 50%;
  padding-inline: 2rem 17rem;
}
.about__title{
  font-family: var(--ff-poppins);
  font-weight: 600;
  font-size: 45px;
  line-height: 27px;
  color: rgba(14, 35, 104, 1);
}
.about__description{
  font-family: var(--ff-open-sans);
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: rgba(68, 73, 87, 1);
}
.about__content button{
  width: 132px;
  height: 42px;
  border-radius: 21px;
  background-color: rgba(226, 55, 68, 1);
  color: white;
  border: none;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 3%;
  cursor: pointer;
  margin-top: 1rem;
}

footer{
  background: linear-gradient(90.07deg, rgba(30, 42, 93, 0.04) 30.91%, rgba(48, 62, 130, 0.04) 64.79%, rgba(60, 80, 157, 0.04) 91.94%);
  padding: 5rem 7rem 5rem 5rem;
}

.footer__content img{
  width: 161px;
  align-self: center;
}
.footer__content{
  font-family: var(--ff-open-sans);
  position: relative;
  display: flex;
  justify-content: space-between;
}
.footer__content p{
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: var(--ff-roboto);
  color: rgba(130, 139, 156, 1);
  font-weight: 400;
  font-size: 14.66px;
  line-height: 25.12px;
}

.contact__info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__info h3{
  color: rgba(14, 35, 104, 1);
  font-weight: 600;
  font-size: 18.84px;
  line-height: 27.22px;
  letter-spacing: 3%;
}
.address{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgba(100, 104, 116, 1);
  font-weight: 400;
  font-size: 14.66px;
  line-height: 23.03px;
  width: 232px;

  a{
    text-decoration: none;
    color: rgba(100, 104, 116, 1);
  }
}

.more__links ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.more__links li a{
  color: rgba(100, 104, 116, 1);
  font-weight: 400;
  font-size: 14.66px;
  line-height: 27.22px;
  text-decoration: none;
}
.more__links h3{
  color: rgba(14, 35, 104, 1);
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
  font-family: var(--ff-open-sans); 
}

.social h3{
  color: rgba(14, 35, 104, 1);
  font-weight: 600;
  font-size: 18.84px;
  line-height: 27.22px;
  letter-spacing: 3%;
}
.social__links{
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  /* align-items: center; */

  a{
    text-decoration: none;
    color: rgba(14, 35, 104, 1);
  }
  a:first-of-type, a:last-of-type{
    padding-top: 2px;
  }
  a:nth-of-type(2){
    margin-left: -5px;
  }
}

.article__container{
  margin-bottom: 10rem;
  padding-inline: 7rem;
}
.articles{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}
.article__heading{
  font-family: var(--ff-open-sans);
  font-weight: 600;
  font-size: 50px;
  line-height: 42px;
  letter-spacing: 4%;
  color: rgba(14, 35, 104, 1);
  margin-bottom: 5rem;
}
.article{
  padding: 28px;
  border-radius: 20.94px;
  border: 1.37px solid rgba(147, 162, 211, 0.38);
  width: 381px;
  height: 554px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
.article img{
  width: 326px;
  height: 258px;
  object-fit: cover;
  border-radius: 21px;
}
.article__content{
  padding: 10px 20px 0 20px;
}
.article__title{
  margin: 0;
  font-family: var(--ff-poppins);
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  color: rgba(14, 35, 104, 1);
}
.article__description{
  margin-block: 1.5rem;
  font-family: var(--ff-open-sans);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 27px;
  color: rgba(68, 73, 87, 1);
}
.article__button{
  width: 131px;
  height: 42px;
  border-radius: 21px;
  border: 1px solid rgba(66, 73, 97, 1);
  font-family: var(--ff-open-sans);
  font-weight: 600;
  font-size: 14px;
  line-height: 35.59px;
  letter-spacing: 3%;
  background-color: white;
  cursor: pointer;
}

.pagination{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.pagination button{
  background-color: white;
  border: 1px solid rgba(66, 73, 97, 1);
  border-radius: 5px;
  padding: 1px 6px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hero__container{
    flex-direction: column;
  }
  .hero__container > img{
    display: none;
  }
  .hero__image{
    width: 378.21px;
    height: 413.72px;
    border-bottom-left-radius: 102.35px;
  }
  .hero__image svg{
    width: 374px;
    height: 417px;
  }
  .hero__content{
    margin-top: 5rem;
    padding: 0;
    width: 100%;
    align-items: center;
    gap: 1.5rem;
  }
  .hero__title{
    font-size: 36px;
    padding-inline: 60px;
    margin: 0;
    line-height: 46px;
    text-align: center;
  }
  .hero__content p{
    margin: 0;
    padding-inline: 60px;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
  }
  .hero__content button{
    width: 120px;
    height: 40px;
    font-size: 12.27px;
  }
  .hero__container .contact{
    width: 87.89px;
    height: 31px;
    top: 18px;
    right: 18px;

    & a{
      font-size: 11px;
      line-height: 31px;
    }
  }

  .about__image{
    display: none;
  }
  .about__content{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 7rem;
  }

  .about__title{
    text-align: center;
    font-size: 26px;
  }
  .about__description{
    text-align: center;
    font-size: 11px;
    padding-inline: 50px;
  }
  .about__content button{
    width: 96px;
    height: 25px;
    font-size: 11px;
    font-weight: 400;
    line-height: 28px;
  }
  
  .article__container{
    padding: 52px;
  }
  .articles{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article{
    width: 271px;
    height: 455px;
    padding: 40px 29px;
    align-items: center;
    border: 2px solid rgba(55, 55, 55, 1);
  }
  .article img{
    border-radius: 27px;
  }
  .article__content{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .article__heading{
    text-align: center;
    font-size: 28px;
    line-height: 54px;
  }
  .article__title{
    margin-block: 1rem -1rem;
    font-size: 16px;
    text-align: center;
  }
  .article__description{
    font-size: 12px;
    line-height: 22px;
  }
  .article img{
    width: 204px;
    height: 166px;
  }
  .article__button{
    width: 118px;
    height: 26px;
    font-size: 11px;
    line-height: 23px;
    border-radius: 27px;
    border: 2px solid rgba(66, 73, 97, 1);
  }

  footer{
    padding-inline: 41px;
  }
  .footer__content{
    flex-direction: column;
  }
  .footer__content img{
    width: 75px;
  }
  .footer__content h3{
    margin-bottom: 0;
    font-size: 15.77px;
  }
  .address{
    font-size: 8.76px;
    gap: 10px;
    width: 100%;
    line-height: 12.77px;
  }
  .more__links li a{
    font-size: 8.76px;
  }
  .more__links ul{
    gap: 0;
  }
  .footer__content p{
    font-size: 8.76px;
    bottom: 25px;
    right: 33%;
  }

  .social h3{
    display: none;
  }
  .social__links{
    margin-top: 2rem;
    gap: 1rem;
    justify-content: center;

    a:first-of-type, a:last-of-type{
      padding-top: 0;
    }
  }

  .social__links svg{
    width: 18px;
  }
  .social__links a:nth-of-type(2) svg{
    width: 30px;
  }
}